USE [BCMS]
GO
/****** Object:  Table [dbo].[Bird]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bird](
	[BirdId] [nvarchar](10) NOT NULL,
	[BirdName] [nvarchar](max) NOT NULL,
	[MemberId] [nvarchar](10) NOT NULL,
	[BirdTypeId] [nvarchar](10) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Size] [decimal](18, 0) NOT NULL,
	[Weight] [decimal](18, 0) NOT NULL,
	[Age] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Bird] PRIMARY KEY CLUSTERED 
(
	[BirdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BirdEvent]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BirdEvent](
	[BirdEventID] [nvarchar](10) NOT NULL,
	[Bird1] [nvarchar](10) NOT NULL,
	[Bird2] [nvarchar](10) NOT NULL,
	[Bird1Score] [int] NULL,
	[Bird2Score] [int] NULL,
	[Winner] [nvarchar](10) NULL,
	[EventDate] [datetime] NOT NULL,
	[PostId] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_BirdEvent] PRIMARY KEY CLUSTERED 
(
	[BirdEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BirdType]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BirdType](
	[BirdTypeId] [nvarchar](10) NOT NULL,
	[BirdTypeName] [nvarchar](max) NOT NULL,
	[BirdTypeDescription] [nvarchar](max) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_BirdType] PRIMARY KEY CLUSTERED 
(
	[BirdTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BirdTypeEvent]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BirdTypeEvent](
	[BirdTypeId] [nvarchar](10) NOT NULL,
	[PostId] [nvarchar](10) NOT NULL,
	[DateTime] [date] NOT NULL,
 CONSTRAINT [PK_BirdTypeEvent] PRIMARY KEY CLUSTERED 
(
	[BirdTypeId] ASC,
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [nvarchar](10) NOT NULL,
	[BlogTitle] [nvarchar](max) NOT NULL,
	[BlogDescription] [nvarchar](max) NOT NULL,
	[Datetime] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[ManagerId] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [nvarchar](10) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[MemberID] [nvarchar](10) NOT NULL,
	[PostID] [nvarchar](10) NOT NULL,
	[ReplyID] [nvarchar](10) NULL,
	[DateTime] [datetime] NOT NULL,
	[CommentContent] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[CommentID] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JoinEvent]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JoinEvent](
	[MemberID] [nvarchar](10) NOT NULL,
	[PostID] [nvarchar](10) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[IsFollow] [bit] NOT NULL,
	[BirdId] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_JoinEvent] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC,
	[PostID] ASC,
	[BirdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Like]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Like](
	[MemberID] [nvarchar](10) NOT NULL,
	[PostID] [nvarchar](10) NOT NULL,
	[DateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Like] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC,
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manager](
	[ManagerID] [nvarchar](10) NOT NULL,
	[ManagerUserName] [nvarchar](50) NOT NULL,
	[ManagerPhone] [nvarchar](15) NOT NULL,
	[ManagerPassword] [nvarchar](50) NOT NULL,
	[ManagerEmail] [nvarchar](100) NOT NULL,
	[ManagerStatus] [bit] NOT NULL,
	[ManagerFullName] [nvarchar](max) NOT NULL,
	[ManagerImage] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[ManagerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[MediaID] [nvarchar](10) NOT NULL,
	[PostID] [nvarchar](10) NULL,
	[LinkMedia] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[BlogId] [nvarchar](10) NULL,
 CONSTRAINT [PK_Media] PRIMARY KEY CLUSTERED 
(
	[MediaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [nvarchar](10) NOT NULL,
	[MemberCreateAt] [datetime] NOT NULL,
	[MemberGender] [bit] NOT NULL,
	[MemberImage] [nvarchar](max) NULL,
	[MemberFullName] [nvarchar](100) NOT NULL,
	[MemberEmail] [nvarchar](100) NOT NULL,
	[MemberDOB] [date] NULL,
	[MemberStatus] [nvarchar](50) NOT NULL,
	[MemberUserName] [nvarchar](50) NOT NULL,
	[MemberPassword] [nvarchar](50) NOT NULL,
	[NumberOfBird] [int] NULL,
 CONSTRAINT [PK_Member] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [nvarchar](10) NOT NULL,
	[NotificationContent] [nvarchar](max) NOT NULL,
	[NotificationStatus] [bit] NOT NULL,
	[NotificationDateTime] [datetime] NOT NULL,
	[NotificationTitle] [nvarchar](max) NOT NULL,
	[MemberID] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostID] [nvarchar](10) NOT NULL,
	[PostCreateAt] [datetime] NOT NULL,
	[PostTitle] [nvarchar](max) NOT NULL,
	[PostDescription] [nvarchar](max) NOT NULL,
	[PostIsEvent] [bit] NOT NULL,
	[PostStatus] [nvarchar](50) NOT NULL,
	[PostNumberLike] [int] NOT NULL,
	[PostNumberJoin] [int] NOT NULL,
	[EventLocation] [nvarchar](max) NULL,
	[EventStartDate] [datetime] NULL,
	[EventEndDate] [datetime] NULL,
	[MemberID] [nvarchar](10) NOT NULL,
	[ManagerID] [nvarchar](10) NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostCategory]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCategory](
	[PostID] [nvarchar](10) NOT NULL,
	[CategoryID] [nvarchar](10) NOT NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_PostCategory] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC,
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcessEvent]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessEvent](
	[ProcessID] [nvarchar](10) NOT NULL,
	[PostID] [nvarchar](10) NOT NULL,
	[EventRule] [nvarchar](max) NOT NULL,
	[EventReward] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ProcessEvent] PRIMARY KEY CLUSTERED 
(
	[ProcessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[ReportID] [nvarchar](10) NOT NULL,
	[ReportTitle] [nvarchar](50) NOT NULL,
	[ManagerID] [nvarchar](10) NULL,
	[MemberID] [nvarchar](10) NOT NULL,
	[ReportType] [nvarchar](10) NOT NULL,
	[ReportStatus] [bit] NOT NULL,
	[ReportDescription] [nvarchar](max) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[Reply] [nvarchar](max) NULL,
	[postId] [nvarchar](10) NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportType]    Script Date: 8/4/2023 4:32:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportType](
	[ReportTypeID] [nvarchar](10) NOT NULL,
	[ReportTypeName] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_ReportType] PRIMARY KEY CLUSTERED 
(
	[ReportTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bird] ([BirdId], [BirdName], [MemberId], [BirdTypeId], [Image], [Size], [Weight], [Age], [Status]) VALUES (N'BIRD588d1c', N'chim chích chu', N'Memfe24be9', N'BType1d5c2', N'string', CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), 0, 1)
INSERT [dbo].[Bird] ([BirdId], [BirdName], [MemberId], [BirdTypeId], [Image], [Size], [Weight], [Age], [Status]) VALUES (N'BIRD7ef7e0', N'chim chích chích', N'Memfe24be9', N'BType1d5c2', N'string', CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), 0, 1)
GO
INSERT [dbo].[BirdType] ([BirdTypeId], [BirdTypeName], [BirdTypeDescription], [status]) VALUES (N'BType0a478', N'Chim Công', N'', 1)
INSERT [dbo].[BirdType] ([BirdTypeId], [BirdTypeName], [BirdTypeDescription], [status]) VALUES (N'BType1d5c2', N'Chích Choè', N'Chích Choè là loài chim nổi bật với lông màu đen và trắng, thường có những màu óng ánh. Chích Choè nổi tiếng với trí tuệ và được xem là một trong những loài chim thông minh nhất. Chúng là loài ăn tạp, ăn nhiều loại thức ăn bao gồm côn trùng, động vật nhỏ, trái cây và thậm chí lượm thức ăn từ thi thể. Trong tín ngưỡng và tượng trưng văn hóa, chích choè được liên kết với tính hiếu kỳ và thông minh.', 1)
INSERT [dbo].[BirdType] ([BirdTypeId], [BirdTypeName], [BirdTypeDescription], [status]) VALUES (N'BType43395', N'Hồng Tước', N'Hồng Tước là loài chim nổi bật với màu hồng đặc trưng, chân dài và mỏ cong xuống độc đáo. Hồng Tước nổi tiếng với hình thành đàn và diễn biến gây ấn tượng trong lễ giao phối. Màu hồng của chúng đến từ các pigment trong thức ăn chúng ăn. Chủ yếu chúng ăn các sinh vật sống trong nước bằng cách lang thang trong nước cạn.', 1)
GO
INSERT [dbo].[BirdTypeEvent] ([BirdTypeId], [PostId], [DateTime]) VALUES (N'BType1d5c2', N'Postaa5ac9', CAST(N'2023-08-04' AS Date))
INSERT [dbo].[BirdTypeEvent] ([BirdTypeId], [PostId], [DateTime]) VALUES (N'BType482d9', N'Post94123e', CAST(N'2023-08-04' AS Date))
INSERT [dbo].[BirdTypeEvent] ([BirdTypeId], [PostId], [DateTime]) VALUES (N'BType482d9', N'Posta69189', CAST(N'2023-08-04' AS Date))
GO
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (N'Cate1fe8a4', N'hoa hậu chim', N'')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (N'Cate56f2e8', N'đấu chim bay', N'')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Description]) VALUES (N'Cate6f9471', N'Đấu chim hót', N'')
GO
INSERT [dbo].[Comment] ([MemberID], [PostID], [ReplyID], [DateTime], [CommentContent], [Status], [CommentID]) VALUES (N'Mem4215eb0', N'Postfdb45f', NULL, CAST(N'2023-08-04T14:32:51.307' AS DateTime), N'chim đẹp quá', 1, N'CMT06efbdd')
INSERT [dbo].[Comment] ([MemberID], [PostID], [ReplyID], [DateTime], [CommentContent], [Status], [CommentID]) VALUES (N'Memed08e7f', N'Postaa5ac9', NULL, CAST(N'2023-08-04T15:38:04.403' AS DateTime), N'đẹp quá bạn ơi', 1, N'CMT7c4e3f6')
INSERT [dbo].[Comment] ([MemberID], [PostID], [ReplyID], [DateTime], [CommentContent], [Status], [CommentID]) VALUES (N'Memfe24be9', N'Postd49c47', NULL, CAST(N'2023-08-04T15:47:15.613' AS DateTime), N'Giao lưu bạn êiiii', 1, N'CMTf863a02')
GO
INSERT [dbo].[JoinEvent] ([MemberID], [PostID], [DateTime], [Status], [IsFollow], [BirdId]) VALUES (N'Memed08e7f', N'Postfdb45f', CAST(N'2023-08-04T15:32:08.653' AS DateTime), N'tham gia', 1, N'BIRD181e3d')
INSERT [dbo].[JoinEvent] ([MemberID], [PostID], [DateTime], [Status], [IsFollow], [BirdId]) VALUES (N'Memed08e7f', N'Postfdb45f', CAST(N'2023-08-04T15:29:59.537' AS DateTime), N'tham gia', 1, N'BIRDd81c26')
GO
INSERT [dbo].[Like] ([MemberID], [PostID], [DateTime]) VALUES (N'Mem2153139', N'Post94123e', CAST(N'2023-08-04T14:35:19.757' AS DateTime))
INSERT [dbo].[Like] ([MemberID], [PostID], [DateTime]) VALUES (N'Mem2153139', N'Postfdb45f', CAST(N'2023-08-04T14:33:46.470' AS DateTime))
INSERT [dbo].[Like] ([MemberID], [PostID], [DateTime]) VALUES (N'Mem4215eb0', N'Postfdb45f', CAST(N'2023-08-04T14:32:35.757' AS DateTime))
GO
INSERT [dbo].[Manager] ([ManagerID], [ManagerUserName], [ManagerPhone], [ManagerPassword], [ManagerEmail], [ManagerStatus], [ManagerFullName], [ManagerImage]) VALUES (N'MNG9dbf3fb', N'manager1', N'0123456789', N'123', N'nguyenvana@gmail.com', 1, N'Nguyễn Văn A', N'https://th.bing.com/th/id/OIP.SLoqoCJaXKeQ2FPJkW6SxgHaLH?w=202&h=303&c=7&r=0&o=5&dpr=1.3&pid=1.7')
INSERT [dbo].[Manager] ([ManagerID], [ManagerUserName], [ManagerPhone], [ManagerPassword], [ManagerEmail], [ManagerStatus], [ManagerFullName], [ManagerImage]) VALUES (N'MNGababa98', N'manager2', N'012345789', N'123', N'nguyenthib@gmail.com', 1, N'Nguyễn Thị B', N'https://th.bing.com/th/id/OIP.Z1EoGBUsq0-1Ay17Q_BzLwHaLH?w=202&h=303&c=7&r=0&o=5&dpr=1.3&pid=1.7')
INSERT [dbo].[Manager] ([ManagerID], [ManagerUserName], [ManagerPhone], [ManagerPassword], [ManagerEmail], [ManagerStatus], [ManagerFullName], [ManagerImage]) VALUES (N'MNGb70715b', N'manager3', N'0123457289', N'123', N'tranducd@gmail.com', 1, N'Trần Đức D', N'https://th.bing.com/th/id/OIP._zmjM0wWMsUbvp99tVNjQQHaLH?w=202&h=303&c=7&r=0&o=5&dpr=1.3&pid=1.7')
GO
INSERT [dbo].[Media] ([MediaID], [PostID], [LinkMedia], [Status], [BlogId]) VALUES (N'MED0ee163c', N'Postaa5ac9', N'https://firebasestorage.googleapis.com/v0/b/bcms-196c0.appspot.com/o/images%2Fch%C3%ADch%20cho%C3%A8.jpg?alt=media&token=2c6b9b51-d02d-43dc-8d8d-30bf2326bbdf', 1, NULL)
INSERT [dbo].[Media] ([MediaID], [PostID], [LinkMedia], [Status], [BlogId]) VALUES (N'MED13b7146', N'Postcc6ac0', N'https://firebasestorage.googleapis.com/v0/b/bcms-196c0.appspot.com/o/images%2Fb%E1%BB%91i%20c%C3%A1.jpg?alt=media&token=1af8599b-4d5a-43c5-8396-06cb00d8dc06', 1, NULL)
INSERT [dbo].[Media] ([MediaID], [PostID], [LinkMedia], [Status], [BlogId]) VALUES (N'MED2032d4b', N'Posta69189', N'https://firebasestorage.googleapis.com/v0/b/bcms-196c0.appspot.com/o/images%2F1%20%C4%91%E1%BA%A5u%20chim%20s%C4%83n%20m%E1%BB%93i.png?alt=media&token=121a4296-ccf3-41c8-9ce3-26490d253163', 1, NULL)
GO
INSERT [dbo].[Notification] ([NotificationID], [NotificationContent], [NotificationStatus], [NotificationDateTime], [NotificationTitle], [MemberID]) VALUES (N'NOTI09aa03', N'Nguyễn Tuấn K đã bình luận bài viết của Trần Văn Q', 1, CAST(N'2023-08-04T15:47:15.623' AS DateTime), N'Comment', N'Mem66f949a')
INSERT [dbo].[Notification] ([NotificationID], [NotificationContent], [NotificationStatus], [NotificationDateTime], [NotificationTitle], [MemberID]) VALUES (N'NOTI110d9b', N'Nguyễn Tuấn K đã thích bài viết của bạn', 1, CAST(N'2023-08-04T15:46:34.830' AS DateTime), N'Reply comment', N'Mem4215eb0')
INSERT [dbo].[Notification] ([NotificationID], [NotificationContent], [NotificationStatus], [NotificationDateTime], [NotificationTitle], [MemberID]) VALUES (N'NOTI218ede', N'Nguyễn Tuấn K đã thích bài viết của bạn', 1, CAST(N'2023-08-04T15:47:22.540' AS DateTime), N'Reply comment', N'Mem66f949a')
GO
INSERT [dbo].[Post] ([PostID], [PostCreateAt], [PostTitle], [PostDescription], [PostIsEvent], [PostStatus], [PostNumberLike], [PostNumberJoin], [EventLocation], [EventStartDate], [EventEndDate], [MemberID], [ManagerID]) VALUES (N'Post94123e', CAST(N'2023-08-04T14:35:13.497' AS DateTime), N'Đại bàng', N'Đại bàng là một loài chim săn mồi hùng mạnh thuộc họ Accipitridae, bộ Cắt.', 0, N'Thành công', 2, 0, NULL, NULL, NULL, N'Mem2153139', NULL)
INSERT [dbo].[Post] ([PostID], [PostCreateAt], [PostTitle], [PostDescription], [PostIsEvent], [PostStatus], [PostNumberLike], [PostNumberJoin], [EventLocation], [EventStartDate], [EventEndDate], [MemberID], [ManagerID]) VALUES (N'Post9a1b2e', CAST(N'2023-08-04T15:49:40.067' AS DateTime), N'Sẻ nhà nuôi', N'!!Sẻ nuôi quá đẹp', 0, N'Thành công', 0, 0, NULL, NULL, NULL, N'Memed08e7f', NULL)
INSERT [dbo].[Post] ([PostID], [PostCreateAt], [PostTitle], [PostDescription], [PostIsEvent], [PostStatus], [PostNumberLike], [PostNumberJoin], [EventLocation], [EventStartDate], [EventEndDate], [MemberID], [ManagerID]) VALUES (N'Post9f04b9', CAST(N'2023-08-04T15:37:51.457' AS DateTime), N'Chim Cu đất', N'Cu đất nhà nuôi', 0, N'Thành công', 2, 0, NULL, NULL, NULL, N'Memed08e7f', NULL)
GO
INSERT [dbo].[PostCategory] ([PostID], [CategoryID], [status]) VALUES (N'Post94123e', N'Cate56f2e8', 1)
INSERT [dbo].[PostCategory] ([PostID], [CategoryID], [status]) VALUES (N'Posta69189', N'Cateda010b', 1)
INSERT [dbo].[PostCategory] ([PostID], [CategoryID], [status]) VALUES (N'Postfdb45f', N'Cate1fe8a4', 1)
GO
INSERT [dbo].[Report] ([ReportID], [ReportTitle], [ManagerID], [MemberID], [ReportType], [ReportStatus], [ReportDescription], [DateTime], [Reply], [postId]) VALUES (N'REPTe4683d', N'abc', NULL, N'Memed08e7f', N'RPT52b51b1', 0, N'lý do abc', CAST(N'2023-08-04T16:11:55.500' AS DateTime), NULL, N'Post9a1b2e')
GO
INSERT [dbo].[ReportType] ([ReportTypeID], [ReportTypeName]) VALUES (N'RPT52b51b1', N'Spam')
INSERT [dbo].[ReportType] ([ReportTypeID], [ReportTypeName]) VALUES (N'RPT747e0e7', N'Lý do khác')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Manager]    Script Date: 8/4/2023 4:32:03 PM ******/
ALTER TABLE [dbo].[Manager] ADD  CONSTRAINT [IX_Manager] UNIQUE NONCLUSTERED 
(
	[ManagerUserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Manager_1]    Script Date: 8/4/2023 4:32:03 PM ******/
ALTER TABLE [dbo].[Manager] ADD  CONSTRAINT [IX_Manager_1] UNIQUE NONCLUSTERED 
(
	[ManagerEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Manager_2]    Script Date: 8/4/2023 4:32:03 PM ******/
ALTER TABLE [dbo].[Manager] ADD  CONSTRAINT [IX_Manager_2] UNIQUE NONCLUSTERED 
(
	[ManagerPhone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Member]    Script Date: 8/4/2023 4:32:03 PM ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [IX_Member] UNIQUE NONCLUSTERED 
(
	[MemberUserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Member_1]    Script Date: 8/4/2023 4:32:03 PM ******/
ALTER TABLE [dbo].[Member] ADD  CONSTRAINT [IX_Member_1] UNIQUE NONCLUSTERED 
(
	[MemberEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bird]  WITH CHECK ADD  CONSTRAINT [FK_Bird_BirdType] FOREIGN KEY([BirdTypeId])
REFERENCES [dbo].[BirdType] ([BirdTypeId])
GO
ALTER TABLE [dbo].[Bird] CHECK CONSTRAINT [FK_Bird_BirdType]
GO
ALTER TABLE [dbo].[Bird]  WITH CHECK ADD  CONSTRAINT [FK_Bird_Member] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Bird] CHECK CONSTRAINT [FK_Bird_Member]
GO
ALTER TABLE [dbo].[BirdEvent]  WITH CHECK ADD  CONSTRAINT [FK_BirdEvent_Bird] FOREIGN KEY([Bird1])
REFERENCES [dbo].[Bird] ([BirdId])
GO
ALTER TABLE [dbo].[BirdEvent] CHECK CONSTRAINT [FK_BirdEvent_Bird]
GO
ALTER TABLE [dbo].[BirdEvent]  WITH CHECK ADD  CONSTRAINT [FK_BirdEvent_Bird1] FOREIGN KEY([Bird2])
REFERENCES [dbo].[Bird] ([BirdId])
GO
ALTER TABLE [dbo].[BirdEvent] CHECK CONSTRAINT [FK_BirdEvent_Bird1]
GO
ALTER TABLE [dbo].[BirdEvent]  WITH CHECK ADD  CONSTRAINT [FK_BirdEvent_Post] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[BirdEvent] CHECK CONSTRAINT [FK_BirdEvent_Post]
GO
ALTER TABLE [dbo].[BirdTypeEvent]  WITH CHECK ADD  CONSTRAINT [FK_BirdTypeEvent_BirdType] FOREIGN KEY([BirdTypeId])
REFERENCES [dbo].[BirdType] ([BirdTypeId])
GO
ALTER TABLE [dbo].[BirdTypeEvent] CHECK CONSTRAINT [FK_BirdTypeEvent_BirdType]
GO
ALTER TABLE [dbo].[BirdTypeEvent]  WITH CHECK ADD  CONSTRAINT [FK_BirdTypeEvent_Post] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[BirdTypeEvent] CHECK CONSTRAINT [FK_BirdTypeEvent_Post]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Manager] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Manager] ([ManagerID])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Manager]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Comment] FOREIGN KEY([ReplyID])
REFERENCES [dbo].[Comment] ([CommentID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Comment]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Member]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Post]
GO
ALTER TABLE [dbo].[JoinEvent]  WITH CHECK ADD  CONSTRAINT [FK_JoinEvent_Bird] FOREIGN KEY([BirdId])
REFERENCES [dbo].[Bird] ([BirdId])
GO
ALTER TABLE [dbo].[JoinEvent] CHECK CONSTRAINT [FK_JoinEvent_Bird]
GO
ALTER TABLE [dbo].[JoinEvent]  WITH CHECK ADD  CONSTRAINT [FK_JoinEvent_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[JoinEvent] CHECK CONSTRAINT [FK_JoinEvent_Member]
GO
ALTER TABLE [dbo].[JoinEvent]  WITH CHECK ADD  CONSTRAINT [FK_JoinEvent_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[JoinEvent] CHECK CONSTRAINT [FK_JoinEvent_Post]
GO
ALTER TABLE [dbo].[Like]  WITH CHECK ADD  CONSTRAINT [FK_Like_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Like] CHECK CONSTRAINT [FK_Like_Member]
GO
ALTER TABLE [dbo].[Like]  WITH CHECK ADD  CONSTRAINT [FK_Like_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Like] CHECK CONSTRAINT [FK_Like_Post]
GO
ALTER TABLE [dbo].[Media]  WITH CHECK ADD  CONSTRAINT [FK_Media_Blog] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blog] ([BlogId])
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [FK_Media_Blog]
GO
ALTER TABLE [dbo].[Media]  WITH CHECK ADD  CONSTRAINT [FK_Media_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Media] CHECK CONSTRAINT [FK_Media_Post]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Member]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Manager] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Manager] ([ManagerID])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Manager]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Member]
GO
ALTER TABLE [dbo].[PostCategory]  WITH CHECK ADD  CONSTRAINT [FK_PostCategory_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[PostCategory] CHECK CONSTRAINT [FK_PostCategory_Category]
GO
ALTER TABLE [dbo].[PostCategory]  WITH CHECK ADD  CONSTRAINT [FK_PostCategory_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[PostCategory] CHECK CONSTRAINT [FK_PostCategory_Post]
GO
ALTER TABLE [dbo].[ProcessEvent]  WITH CHECK ADD  CONSTRAINT [FK_ProcessEvent_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[ProcessEvent] CHECK CONSTRAINT [FK_ProcessEvent_Post]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Manager] FOREIGN KEY([ManagerID])
REFERENCES [dbo].[Manager] ([ManagerID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Manager]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Member]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_Post] FOREIGN KEY([postId])
REFERENCES [dbo].[Post] ([PostID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_Post]
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_ReportType] FOREIGN KEY([ReportType])
REFERENCES [dbo].[ReportType] ([ReportTypeID])
GO
ALTER TABLE [dbo].[Report] CHECK CONSTRAINT [FK_Report_ReportType]
GO
